<!DOCTYPE html>
<html ng-app="aplicativo">

<head>
    <meta charset="utf-8">
    <title>Devo Ver Filme</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" charset="utf-8">
    <link rel="stylesheet" href="style/main.css" charset="utf-8">
</head>

<body ng-controller="Principal as p">
    <!-- se estado for intro -->
    <div id="noJS">
        <div class="container-fluid text-center">
            <img src="imgs/loading.gif" alt="" />
        </div>
    </div>
    <div id="JS">
        <div id="index">
            <div id="bg">
                <div id="content">
                    <div class="container">
                        <div class="well well-sm" id="well">
                            <h1>
                                Devo Ver?
                            </h1>
                            <form id="buscar" ng-submit="p.buscar(mainBusca)">
                                <div class="form-group">
                                    <input type="text" class="form-control" mame="q" placeholder="Escreve o nome de um filme e pressione ENTER" ng-model="mainBusca">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="baixo">
                <h2>
                    <span class="glyphicon glyphicon-menu-down" id="arrow"></span>
                </h2>
            </div>
            <div id="recente">
                <div ng-if="filmes.length === 0">
                    <h2>
                        <strong>
                            Nenhum filme foi cadastrado
                        </strong>
                    </h2>
                </div>
                <div ng-if="filmes.length > 0">
                    <h2>Filmes Recentes</h2>
                    <div class="container">
                        <div class="panel panel-default" ng-repeat="filme in filmes">
                            <div class="panel-heading black-heading">
                                <h3 class="panel-title">
                                    <strong>
                                        <a href="" ng-click="p.selecionarFilme(filme)">
                                            {{filme.filme}}
                                        </a>
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-2 light-gray">
                                    <a href="" ng-click="p.selecionarFilme(filme)">
                                        <img ng-src="{{filme.LinkPosterImg}}" alt="" width="100%" />
                                    </a>
                                </div>
                                <div class="col-xs-10">
                                    {{filme.descricao}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>
                <span class="glyphicon glyphicon-menu-up" id="arrowUp"></span>
            </h2>
        </div>
        <div id="filme">
            <nav class="navbar navbar-default navbar-fixed-top filme-nav" role="navigation">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="text-center">
                            <a href="" ng-click="p.vaiParaIndex()" class="home">
                                <span class="glyphicon glyphicon-home">
                                </span>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" ng-submit="p.buscar(filmeBusca)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" id="busca-filme" placeholder="Pesquisar outro filme" ng-model="filmeBusca">
                        </div>
                    </form>
                </div>
            </nav>


            <div class="filme-header" id="filme-header">
                <div id="gradient"> </div>
            </div>

            <div class="container" id="conteudo">
                <div class="well">
                    <div ng-if="filmeAtual === null">
                        <h1>Não existe um filme com esse nome</h1>
                    </div>
                    <div ng-if="filmeAtual !== null">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-6 hidden-sm hidden-md hidden-lg text-center">
                                <img src="{{filmeAtual.LinkPosterImg}}" alt="" height="300px" />
                            </div>
                            <div class="col-xs-3 hidden-xs">
                                <img src="{{filmeAtual.LinkPosterImg}}" alt="" width="100%" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <h2>{{filmeAtual.filme}}</h2>
                                <h5 class="text-center">
                                    <strong>Lançamento:</strong> <em>{{filmeAtual.lancamento | date:'dd-MM-yyyy'}}</em>,
                                    <strong>Nota:</strong> <em>{{filmeAtual.rating}}/10</em>
                                    </h5>
                                <p class="topMargin">
                                    {{filmeAtual.descricao}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well" id="aceitacao">
                </div>
            </div>
        </div>
        <div id="busca">
            <nav class="navbar navbar-default busca-nav" role="navigation">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="text-center">
                            <a href="" ng-click="p.vaiParaIndex()" class="home">
                                <span class="glyphicon glyphicon-home">
                                </span>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" ng-submit="p.buscar(filmeBusca)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" id="busca-filme" placeholder="Pesquisar outro filme" ng-model="filmeBusca">
                        </div>
                    </form>
                </div>
            </nav>
            <div class="container" id="resultados">
                <div class="row">
                    <div class="col-xs-12" ng-if="buscados.length === 0">
                        <h2>Nenhum resultado foi encontrado</h2>
                        <p class="text-center">
                            Nenhum resultado com o termo <em>{{currentQuery}}</em> não foi encontrado! Tente outro termo!
                        </p>
                    </div>
                    <div class="col-xs-12" ng-if="buscados.length > 0">
                        <h2>Mostrando resultados para <em>{{currentQuery}}</em></h2>
                    </div>
                </div>
                <div class="row" ng-repeat="filme in buscados">
                    <div class="col-xs-12">
                        <div class="panel panel-default" >
                            <div class="panel-heading black-heading">
                                <h3 class="panel-title">
                                    <strong>
                                        <a href="" ng-click="p.selecionarFilme(filme)">
                                            {{filme.filme}}
                                        </a>
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-2 light-gray">
                                    <a href="" ng-click="p.selecionarFilme(filme)">
                                        <img ng-src="{{filme.LinkPosterImg}}" alt="" width="100%" />
                                    </a>
                                </div>
                                <div class="col-xs-10">
                                    {{filme.descricao}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js" charset="utf-8"></script>
    <script src="scripts/angular_init.js" charset="utf-8"></script>
    <script src="controllers/main.js" charset="utf-8"></script>
    <script src="scripts/index.js" type="text/javascript"></script>
</body>

</html>
