#bg {
    width:100%;
    background-image: url('../imgs/background.jpg');
    background-position: center;
}
#content {
    width:100%;
    z-index: 1;
    background-image: url('../imgs/bgpattern.png');
    background-repeat: repeat-y repeat-x;
}

#well{
    background-color:rgba(236, 255, 181, 0.14);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.84);
    border-style: hidden;
}

#baixo {
    background-color: rgb(227, 227, 227);
    color: rgb(64, 64, 64);
    margin-top:-20px;
}

#baixo:hover {
    background-color: rgb(190, 190, 190);
}

#gradient {
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
#JS {
    display: none;
}

h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
}

.small-top-margin {
    margin-top : 20px;
}

.panel-default, .panel {
    border-radius: 0;
}

.black-heading {
    background-color: rgb(54, 54, 54) !important;
    color : rgb(255, 248, 213) !important;
    border-radius: 0;
}

.topMargin {
    margin-top: 15px;
}

.filme-banner {
    position : absolute;
    top:0;
    left: 0;
    z-index: 1;
    padding: 15px 30px;
}
.filme-nav {
    background: none;
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: none;
}
.busca-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0 !important;
}

.home {
    background-color: rgba(240, 240, 240, 0.61);
    border-radius: 5px;
}
.home:hover {
    background-color: rgb(240, 240, 240) !important;
    border-radius: 5px;
}
